section {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    max-width: 45%;
    min-width: 630px;
    margin: 3% 25%;
    padding: 0 15px;
    text-align: center;
}

main {
    font-family: 'Roboto', sans-serif;
    margin: 15px 25%;
    border: 2px solid #005082;
    border-radius: 5px;
    max-width: 45%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    color: #000839;
}

.customer-input {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

p {
    min-width: 250px;
    width: 350px;
    font-weight: normal;
    font-size: 17.5px;
    height: 0px;
}

input {
    min-width: 250px;
    width: 50%;
    margin-top: 5px;
    border-radius: 5px;
}

select {
    min-width: 250px;
    width: 50%;
    margin-top: 5px;
    border-radius: 5px;
}

#for-deposit {
    color: #000839;
    background-color: #ffa41b;
    height: 30px;
    font-size: 16px;
    width: 50%;
    margin: 15px 25%;
    border-radius: 5px;
}

.red-tag {
    width: 20px;
    color: red;
}

table {
    font-family: 'Roboto', sans-serif;
    border: 2px solid #ffa41b;
    margin: 10px 25%;
    border-radius: 5px;
    max-width: 45%;
    min-width: 550px;
    color: #000839;
}


tr, td {
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    width: 700px;
    text-align: center;
}